<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaft.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container d-flex justify-content-center">
            <form th:action="@{/logincheck}" method="post" style="display: flex; flex-direction: column;">
                <h2 class="text-center">Ingresar</h2>

                <input type="text" name="usuario" placeholder="email..." class="m-3">
                <input type="password" name="password" placeholder="contraseña..." class="m-3" >

                <button type="submit" class="btn btn-primary text-center">Ingresar</button>
            </form>


        </div>
    </body>
</html>
